<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">{{title}}</h1>
  </div>  
</div>

<div class="container content">
  <div class="page-header">
    <div class="container">
      <!-- <h1>Ruteo Simple</h1> -->
      <div class="navlinks">
        <a [routerLink]="['/home']">Home</a> | 
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>